<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softsquared.template.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_umc_foot_step"
        android:roundIcon="@mipmap/ic_launcher_umc_foot_step"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">


<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".src.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".src.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--OnBoarding Activity 추가-->
        <activity
            android:name=".src.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>



        <!--Login Activity 추가-->
        <activity
            android:name=".src.login.LoginProcessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".src.login.LoginSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>


        <!--SignUp Activity 추가-->
        <activity
            android:name=".src.signup.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".src.signup.SignupCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".src.signup.SignupInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".src.signup.SignupSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>



        <!--Post Activity 추가-->
        <activity
            android:name=".src.main.post.PostActivity"
            android:exported="false"
            android:parentActivityName=".src.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".src.main.post.PostSearchPositionActivity"
            android:exported="false"
            android:parentActivityName=".src.main.post.PostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--Post Update Activity 추가-->
        <activity android:name=".src.main.postupdate.PostUpdateActivity"
            android:exported="false"
            android:parentActivityName=".src.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--Gallery Activity 추가-->
        <activity
            android:name=".src.main.gallery.info.GalleryInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />



        <!--Map Activity 추가-->
        <activity
            android:name=".src.main.map.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".src.main.map.area.AreaActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".src.main.map.search.SearchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />




        <!--MapGallery Activity 추가-->
        <activity
            android:name=".src.main.gallery.map.MapGalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <!-- FeedInfo Activity 추가-->
        <activity
            android:name=".src.main.feed.info.FeedInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- MyPage Activity 추가-->
        <activity
            android:name=".src.main.myPage.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Kakao api 추가-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${API_KEY}" />

        <!-- Naver map 추가-->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${map_CLIENT_ID}" />





    </application>

</manifest>