<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softsquared.template.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".src.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".src.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--OnBoarding Activity 추가-->
        <activity
            android:name=".src.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
            
            

        <!--Login Activity 추가-->
        <activity
            android:name=".src.login.LoginProcessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".src.login.LoginSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>


        <!--SignUp Activity 추가-->
        <activity
            android:name=".src.signup.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".src.signup.SignupCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".src.signup.SignupInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".src.signup.SignupSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>





        <!--Post Activity 추가-->
        <activity
            android:name=".src.main.post.PostActivity"
            android:exported="false"
            android:parentActivityName=".src.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".src.main.post.PostSearchPositionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />




        <!--Gallery Activity 추가-->
        <activity
            android:name=".src.main.gallery.info.GalleryInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
            
            

        <!--Gallery Activity 추가-->
        <activity
            android:name=".src.main.map.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
            
            

        <!--MapGallery Activity 추가-->
        <activity
            android:name=".src.main.gallery.map.MapGalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
            
            

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="phlxzodw8d" />

        <!--kakaoMap api-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="	c794bd7db8862f135dd6387c9606bee0" />
    </application>

</manifest>